@import "bourbon"
@import "vars"
$output-bourbon-deprecation-warnings: false;

@media screen and (min-width: 2000px)
	html
		font-size: 131%

	.page-nav

		&__year
			width: 140px

@media screen and (min-width: 660px), (min-width: 750px) and (orientation: partrait)
	.evgeni__best-reward
		display: none

@media screen and (max-width: 1400px)
	.page
		padding-left: 50px

@media screen and (max-width: 1100px)
	.head
		padding: 1.875rem 3.125rem 0 3rem

	.evgeni

		&__name

			&:after
				right: -20px !important

	.page

		&__img
			margin-right: 2rem

@media screen and (max-width: 1000px)
	.html
		font-size: 95%

	.evgeni
		
		&__name, &__lastname
			font-size: rem(50)

		&__name
			display: flex
			align-items: center

			&:after
				position: static !important
				display: inline-block
				margin: -5px 0 0 15px

	.rewards
		flex-wrap: wrap
		margin-bottom: -39px

		&__one
			width: 49%
			margin-bottom: 39px

	@supports (display: grid)
		.rewards
			margin: 0 !important
			display: grid
			grid-gap: rem(39) 20px
			grid-template-columns: repeat(2, 1fr)

			&__one
				width: auto
				margin: 0 !important

	.reward
		max-width: none

		&__top
			width: 68px
			min-width: 0

	.page-nav

		&__year
			font-size: rem(30)
			width: 75px

	.page
		padding-left: 0

		&__nav
			margin-right: 2.375rem

		&__content
			position: relative

		&__img
			margin-right: 0
			margin-bottom: 2rem

		&__text

			&-cont
				flex-direction: column
				align-items: center
	
	.page-nav

		&__links
			// +size(45px)

		&:after
			// +size(60px)

		&__year

			&:after
				right: auto
				left: 0
				padding-right: 0 !important
				border:
					right: none !important
				text-align: left !important

	.kubok

		&__img
			height: vh(450)
			// display: none

			> img
				// width: 166px
				// height: 42vh
				// transform: translateX(1.6vh)

	.evgeni

		&__rewards
			flex-direction: column

			> div

				&:not(:first-child)
					margin: 2rem -0px 0

@media screen and (max-width: 750px) and (orientation: landscape)
	
	@supports (display: grid)
		.evgeni
			display: grid
			grid-template-areas: "name team" "lastname team" "rewards rewards"

			&__name
				grid-area: name

			&__lastname
				grid-area: lastname

			&__team
				grid-area: team
				margin: 0
				align-self: center

			&__rewards
				grid-area: rewards

	.rewards
		display: flex
		justify-content: space-between

	.page

		&--first
			padding-top: 65px !important

			.page

				&-nav__year
					left: 0
					transform: none
				
				&__nav
					margin: 0 !important

	.evgeni

		&__rewards
			margin: .8rem 0 0 !important

	.reward

		&__top
			padding-bottom: 0

		&__bot-title
			margin: 4px 0 0

	.evgeni__best-reward
		display: block

		img
			max-width: 120px

@media screen and (max-width: 660px), (max-width: 750px) and (orientation: landscape)
	.head
		padding: 1rem 20px 1rem
		z-index: 10
		transition: background .3s ease
		
		&.js__scroll
			background: #010e30

	html, body
		overflow-x: hidden

	.evgeni

		&__team
			display: none

		&__best-reward
			margin: 2rem -0px 0

	.best-reward
		text-align: center
		
		&__year
			margin: 2rem -0px 0
			font-weight: bold
			font-size: rem(32)
			color: $main-color
			display: none

		&__text
			font-size: rem(20)
			margin: 2rem -0px 0
			font-weight: bold
			text-transform: uppercase
			letter-spacing: .01em

		&__img
			margin: 1rem -0px 0

	@supports (display: grid)
		.best-reward
			text-align: left
			display: grid
			grid-gap: 1rem 0
			grid-template-areas: "team img" "year img" "text img"
			grid-template-areas: "team img" "text img"
			
			&__year
				// display: block
				grid-area: year

			&__team
				grid-area: team

			&__text
				grid-area: text

			&__img
				grid-area: img
				display: flex
				justify-content: center
				align-items: center

			> div, > figure
				margin: 0

	.logo
		font-size: rem(26)

	.wrapper
		padding: 0 20px

	.lang

		&__link
			+size(40px)

			&:not(:first-child)
				margin-left: 10px

	.string
		transform: none !important
		opacity: 1

	.page
		height: auto !important

		&__text
			max-width: none !important

		&:not(.page--first)
			padding-top: 0 !important

		&:not(:first-child)
			margin: 3rem 0 0

		&--first
			padding-top: 100px !important

			.page

				&__nav
					margin-top: 14.13632vh
					opacity: 0

		&__nav
			padding: 70px 0 0 !important
			margin-right: 0 !important

		&__content
			flex-direction: column
			align-items: stretch

	#content
		padding-bottom: 2rem

	.kubok__img
		display: none

	.page-nav

		&__decor, &__links, &:after
			display: none

	.page-bg img
		min-height: 70vh

	.fp

		&-tableCell
			height: auto !important

	.kubok__img

		> img
			width: 75px

		&-bg
			display: none

	.page-nav

		&__year
			position: absolute
			margin-right: 0
			top: -65px
			color: #fff !important
			background: $main-color
			border-radius: 6px
			padding: 6px
			left: 50%
			width: auto
			transform: translateX(-50%)

	.evgeni
		display: flex
		// align-items: center
		align-items: flex-start
		flex-direction: column

		&__lastname, &__name
			font-size: 2rem
			width: 220px

		&__rewards
			margin: 3rem 0 0
			align-self: stretch

		&__name

			&:after
				font-size: rem(20) !important
				padding: 5px 7px !important

	.rewards
		grid-gap: 2rem 12px
		justify-items: center

	.reward
		width: 100px

	.page

		&__img
			align-self: center

		&__text

			&-cont
				align-items: stretch